
<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="hhtp://www.thymeleaf.org">
    <head  th:fragment="head">
        <title>Futbol.com</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    </head>
    <body>

        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Futbol.com</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Mundial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Balones</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            Pagina de futbol
                        </span>
                    </div>
                </div>
            </nav>






        </header>


        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/foto1.jpeg"  width="300px" height="200px"/>

                </div>
                <div class="carousel-item">
                    <img src="images/foto2.jpeg"  width="300px" height="200px"/>
                </div>
                <div class="carousel-item">
                    <img src="images/foto3.jpg"  width="300px" height="200px"/>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-primary active" aria-current="page">Copas del mundial</a>
            <a href="#" class="btn btn-primary">Canchas de futbol</a>
            <a href="#" class="btn btn-primary">Estadios</a>
        </div>


        <ul class="list-group">
            <li class="list-group-item">Mundial 1990</li>
            <li class="list-group-item">Mundial 1994</li>
            <li class="list-group-item">Mundial 1998</li>
            <li class="list-group-item">Mundial 2002</li>
            <li class="list-group-item">Mundial 2014</li>
        </ul>
        <footer th:fragment="footer">
            <div>
                <p>Copyright Futbol.com &copy; 2022</p>
                <a th:href="@{/(lang=es)}">ES</a>
                <a th:href="@{/(lang=en)}">EN</a>
            </div>


        </footer>


    </body>
</html>
